// this is connected to the icons of the page

* {
  margin: 0;
  padding: 0;
}

.icon-pic-size {
  max-height: 150px;
  max-width: 190px;
  height: 100%;
  width: 100%;
}

.border-radius {
  border-radius: 3px;
}

// image-size for logo (LogoKokkos)
.logo-horizontal {
  &__img {
    width: 90px;

    &--xs {
      width: 40px;
    }

    &--sm {
      width: 50px;
    }

    &--md {
      width: 60px;
    }

    &--lg {
      width: 90px;
    }

    &--xl {
      width: 150px;
    }
  }
}
// this is styling of the logo (LogoKokkos)
.logo {
  &__wrapper {
    display: flex;
    align-items: center;
    color: $color-primary;

    &--kokkos {
      margin-right: 0.3rem;
    }
  }
}