// the new fonts
$font-main: "Cera-Pro-Bold";
$font-secondary: "Dank-Mono";
//the old fonts
$font-main-bold: "OrdinaryTrial-Bold";
$font-secondary: "Dank-Mono";

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

@mixin font-a {
  font-family: $font-main;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: $primary;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

@mixin font-small {
  font-family: $font-main;
  font-size: 1.1rem;
}

@mixin font-p {
  font-family: $font-secondary;
  font-size: 1.8rem;
  // margin-bottom: 10px;
  line-height: 1.6em;
  color: $primary;
}

@mixin font-label {
  font-family: $font-main;
  font-size: 1.1rem;
  color: $primary;
}

@mixin font-span {
  font-family: $font-main;
  font-size: 1.6rem;
}

@mixin font-h1 {
  font-family: $font-main;
  font-size: 5.4rem;
  color: $primary;
}

@mixin font-h2 {
  font-family: $font-main;
  font-size: 2.2rem;
  color: $primary;
}

@mixin font-h3 {
  font-family: $font-secondary;
  font-size: 5rem;
  //margin-bottom: 30px;
}

@mixin font-h4 {
  font-family: $font-secondary;
  font-weight: 400;
  // text-transform: uppercase;
  font-size: 4.1rem;
}

@mixin font-h5 {
  font-family: $font-secondary;
  font-weight: 400;
  // text-transform: uppercase;
  font-size: 2.8rem;
}

@mixin font-h6 {
  font-family: $font-main;
  font-weight: 400;
  // text-transform: uppercase;
  font-size: 2.4rem;
}

h1 {
  @include font-h1;
}

h2 {
  @include font-h2;
}

h3 {
  @include font-h3;
}

h4 {
  @include font-h4;
}

h5 {
  @include font-h5;
}

h6 {
  @include font-h6;
}

p {
  @include font-p;
}

span {
  @include font-span;
}

small {
  @include font-small;
}

button {
  @include font-small;

  &.text {
    @include font-a;
  }

  margin: 0;
}

a {
  @include font-a;
}

legend {
  @include font-h6;
}

label {
  @include font-label;
}

.medium {
  font-weight: 500;
}

.font-small {
  @include font-small;
}

.font-p {
  @include font-p;
}

.font-p-large {
  font-size: 2rem;

  @media (min-width: $md) {
    font-size: 26.72px;
  }
}

.font-small-smaller {
  @include font-small;

  @media (min-width: $md) {
    font-size: 0.9rem;
  }
}

.font-a {
  @include font-a;
}

.font-span {
  @include font-span;
}

.font-h1 {
  @include font-h1;
}

.font-h2 {
  @include font-h3;

  @media (min-width: $md) {
    @include font-h2;
  }
}

.font-h3 {
  @include font-h3;
}

.font-h4 {
  @include font-h4;
}

.font-h5 {
  @include font-h5;
  width: 300px;
  text-align: center;
  padding-top: 8rem;

  @media (min-width: $sm) {
    width: 400px;
  }

  @media (min-width: $lg) {
    width: 500px;
  }
}

.font-h6 {
  @include font-h6;
  font-family: $font-secondary;
}

.bold {
  font-weight: bold;
}

.display-block {
  display: block;
}

.underline {
  text-decoration: underline;
}

.capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.font-main {
  font-family: $font-main;
}

.font-main-bold {
  font-family: $font-main-bold;
}

.font-secondary {
  font-family: $font-secondary;
}
