  // All of this is connected to the font of the page
  p, a, h1, h2, h3,h4, h5, ul, li, span, b, i {
    font-family: $font-stack;
    color: #4a536b;
  }

  body {
    font-size: $font-size-a;
  }

  h1, h2, h3, h4 {
    font-weight: 700;
  }

  h1 {
    font-size: $font-size-d;
  }

  h2 {
    font-size: $font-size-c;
  }

  h3 {
    font-size: $font-size-b;
  }

  h4 {
    font-size: $font-size-a;
  }

  p {
    font-weight: 300;
  }

  .light {
    font-weight: 300;
  }

  .semi-bold {
    font-weight: 600;
    font-size: $font-size-a;
  }

  .bold {
    font-weight: 700;
  }

  .black {
    font-weight: 900;
  }


  